<div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">2020 - Erciyes University - Kayseri</li>
    <li class="list-group-item">2014 - Seyhan Anatolian Highschool - Adana</li>
    <li class="list-group-item">2010 - Ismet Inonu Middle School - Adana</li>
    <li class="list-group-item">2007 - Mehmetcik Primary School - Gaziantep</li>
  </ul>
</div>
  <p class="lead">
    <a type="button" routerLink="/contact" class="btn btn-lg btn-secondary"><strong>Contact me</strong></a>
  </p>
