<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand"><a style="text-decoration: none" routerLink="">Samed Yüksel</a></h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/home">Home</a>
          <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/education">Education</a>
          <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" href="https://github.com/samedyuksel?tab=repositoriesng">Projects</a>
          <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact">Contact</a>
        </nav>
    </div>
  </header>
  <main role="main" class="inner cover">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer mt-auto py-3">
    <div class="container">
    </div>
  </footer>
</div>
</body>
